.container {
/*    background-color: #dddddd;*/
}

.pokemon-avatar {
    text-align: center;
/*    background-color: #e3e3e3;*/
}

.pokemon-details {
/*    background-color: #e5a9a9;*/
}

.pokemon-name {
    color: #525252;
    text-transform: capitalize;
}

.pokemon-image img {
/*    display: block;*/
    align-content: center;
    width: 288px;
    
/*    transform: scale(1);*/
}

.pokemon-stats {
    
}
.pokemon-stats:td{
    text-align: right;
}

.searchBar {
    display: block;
    padding-top: 8px;
}

.searchForm{
    width: 100%;
}

.stats-value {
}